.expandableParent {
  font-family: "myFirstFont";
  font-size: 25px;
  position: relative;
  border: none;
}

.spanExpandable {
  white-space: pre-wrap;
  font: inherit;
  /* display: none; */
}

.inputExpandable {
  position: absolute;
  width: 100%;
  font: inherit;
  min-width: 1ch;
  border: none;
  outline: none;
}
.inputExpandable:focus {
  border-bottom: solid 1px;
}
